$serif-stack:'Sorts Mill Goudy', Georgia, serif;
$sans-stack: 'Montserrat', Helvetica, sans-serif;
$purple: #849BF7;
$ltgray: #B5B1A9;



body{font-family: $serif-stack; color:$ltgray;}

#wrapper{padding-top: 100px; background-color:#414141;}

#thumbnails a{color: $ltgray;}

#header{border: none; max-width:1120px;margin:0 auto; }

#header h1, #project-block h1{font-family: $sans-stack; font-size: .9em; font-weight:bold; color:$purple; letter-spacing:.15em; text-transform:uppercase; width:92%;}

#header h1 span{color:$ltgray;}
#header h1 div{float:right;}

#intro-block{font-size: 1.3em; margin-top:50px;width:80%;}

#project-wrapper{width:100%; padding:2% 0 5%;}

#project-block{max-width:1120px; height:200px; margin:0 auto;font-family: $sans-stack; 
  color: $purple;text-align:left;}

#project-wrapper .project-tags{margin: 10px 0 0;}

.post img {max-width: 1120px;}
.post p{margin:0 20% 0 10% ;}

#project-block .tags{font-family:$serif-stack; color:$ltgray;}
#footer {width:1120px;margin: 25px auto 75px; box-shadow:none;}










/* BEGIN RWD STYLES */
@media screen and (max-width: 800px) {
#wrapper{padding-top: 50px;}



}

@media screen and (max-width: 440px) {
#wrapper{padding-top: 25px;}


}